In [249]:
import pandas as pd

In [250]:
import numpy as np

In [33]:
train=pd.read_csv('train_new.csv')
test=pd.read_csv('test_new.csv')

In [34]:
pd.set_option('display.max_columns', None)

In [35]:
train.head()

,Unnamed: 0,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits,is_promoted
0,0,1,35,5.0,8,1,0,49,-1,-1,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.931194,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879,0
1,1,1,30,5.0,4,0,0,60,-1,-1,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.341857,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558,0
2,2,1,34,3.0,7,0,0,50,-1,-1,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.068806,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879,0
3,3,2,39,1.0,10,0,0,50,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.068806,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558,0
4,4,1,45,3.0,2,0,0,73,-1,-1,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.144448,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558,0

In [36]:
train.drop('Unnamed: 0',axis=1,inplace=True)
train.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits,is_promoted
0,1,35,5.0,8,1,0,49,-1,-1,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.931194,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879,0
1,1,30,5.0,4,0,0,60,-1,-1,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.341857,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558,0
2,1,34,3.0,7,0,0,50,-1,-1,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.068806,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879,0
3,2,39,1.0,10,0,0,50,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.068806,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558,0
4,1,45,3.0,2,0,0,73,-1,-1,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.144448,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558,0

In [37]:
test.head()

,Unnamed: 0,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,0,1,24,3.0,1,1,0,77,-1,-1,1.256380,1.000000,0,17.0,1.283333,-2.908464,-0.144448,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.085013,0.422879
1,1,1,31,3.0,5,0,0,51,-1,-1,1.057379,0.200000,0,-9.0,0.850000,0.892663,-0.447331,0.056245,0.029135,0.144451,0.052699,0.089934,0.314267,0.083952,0.547558
2,2,1,31,1.0,4,0,0,47,-1,-1,1.274643,0.250000,0,27.0,2.350000,-3.208487,-2.068806,0.072031,0.259854,0.086858,0.049272,0.083151,0.685733,0.083952,0.547558
3,3,3,31,2.0,9,0,0,65,1,1,1.328017,0.333333,0,25.0,1.625000,-5.129455,-1.271116,0.096386,0.147386,0.080126,0.211868,0.089934,0.314267,0.083952,0.547558
4,4,1,30,4.0,7,0,0,61,-1,-1,1.306865,0.142857,0,-19.0,0.762500,0.747725,0.539289,0.081230,0.044130,0.043260,0.009212,0.083151,0.685733,0.085013,0.422879

In [38]:
test.drop('Unnamed: 0',axis=1,inplace=True)
test.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,1,24,3.0,1,1,0,77,-1,-1,1.256380,1.000000,0,17.0,1.283333,-2.908464,-0.144448,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.085013,0.422879
1,1,31,3.0,5,0,0,51,-1,-1,1.057379,0.200000,0,-9.0,0.850000,0.892663,-0.447331,0.056245,0.029135,0.144451,0.052699,0.089934,0.314267,0.083952,0.547558
2,1,31,1.0,4,0,0,47,-1,-1,1.274643,0.250000,0,27.0,2.350000,-3.208487,-2.068806,0.072031,0.259854,0.086858,0.049272,0.083151,0.685733,0.083952,0.547558
3,3,31,2.0,9,0,0,65,1,1,1.328017,0.333333,0,25.0,1.625000,-5.129455,-1.271116,0.096386,0.147386,0.080126,0.211868,0.089934,0.314267,0.083952,0.547558
4,1,30,4.0,7,0,0,61,-1,-1,1.306865,0.142857,0,-19.0,0.762500,0.747725,0.539289,0.081230,0.044130,0.043260,0.009212,0.083151,0.685733,0.085013,0.422879

In [39]:
is_promoted=train.is_promoted

In [40]:
train.drop('is_promoted',axis=1,inplace=True)

In [41]:
train.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,1,35,5.0,8,1,0,49,-1,-1,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.931194,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879
1,1,30,5.0,4,0,0,60,-1,-1,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.341857,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558
2,1,34,3.0,7,0,0,50,-1,-1,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.068806,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879
3,2,39,1.0,10,0,0,50,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.068806,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558
4,1,45,3.0,2,0,0,73,-1,-1,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.144448,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558

In [42]:
train.shape, is_promoted.shape

((54808, 24), (54808,))

In [43]:
test.shape

(23490, 24)

In [44]:
test.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,1,24,3.0,1,1,0,77,-1,-1,1.256380,1.000000,0,17.0,1.283333,-2.908464,-0.144448,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.085013,0.422879
1,1,31,3.0,5,0,0,51,-1,-1,1.057379,0.200000,0,-9.0,0.850000,0.892663,-0.447331,0.056245,0.029135,0.144451,0.052699,0.089934,0.314267,0.083952,0.547558
2,1,31,1.0,4,0,0,47,-1,-1,1.274643,0.250000,0,27.0,2.350000,-3.208487,-2.068806,0.072031,0.259854,0.086858,0.049272,0.083151,0.685733,0.083952,0.547558
3,3,31,2.0,9,0,0,65,1,1,1.328017,0.333333,0,25.0,1.625000,-5.129455,-1.271116,0.096386,0.147386,0.080126,0.211868,0.089934,0.314267,0.083952,0.547558
4,1,30,4.0,7,0,0,61,-1,-1,1.306865,0.142857,0,-19.0,0.762500,0.747725,0.539289,0.081230,0.044130,0.043260,0.009212,0.083151,0.685733,0.085013,0.422879

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [16]:
logistic = LogisticRegression(penalty='l2')
cvscore=cross_val_score(logistic, train, is_promoted,cv=10,scoring='f1')

In [17]:
cvscore

array([0.39344262, 0.4313099 , 0.37      , 0.4399376 , 0.38834951,
       0.38550247, 0.42054575, 0.41100324, 0.40133779, 0.36601307])

In [20]:
logistic = LogisticRegression(penalty='l1')
cvscore=cross_val_score(logistic, train, is_promoted,cv=10,scoring='f1')

In [22]:
cvscore.mean()

0.4001964711776309

# Logistic with feature importance

In [23]:
train.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,1,35,5.0,8,1,0,49,-1,-1,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.931194,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879
1,1,30,5.0,4,0,0,60,-1,-1,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.341857,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558
2,1,34,3.0,7,0,0,50,-1,-1,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.068806,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879
3,2,39,1.0,10,0,0,50,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.068806,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558
4,1,45,3.0,2,0,0,73,-1,-1,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.144448,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558

In [45]:
train1=train.drop(['is_gt_avg_training','is_dept_gt_avg_training'],axis=1)

In [46]:
train1.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,1,35,5.0,8,1,0,49,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.931194,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879
1,1,30,5.0,4,0,0,60,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.341857,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558
2,1,34,3.0,7,0,0,50,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.068806,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879
3,2,39,1.0,10,0,0,50,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.068806,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558
4,1,45,3.0,2,0,0,73,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.144448,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558

In [26]:
logistic = LogisticRegression(penalty='l2')
cvscore=cross_val_score(logistic, train, is_promoted,cv=10,scoring='f1')

In [27]:
cvscore

array([0.39344262, 0.4313099 , 0.3706177 , 0.4399376 , 0.38772213,
       0.38550247, 0.42054575, 0.41100324, 0.40201005, 0.36601307])

# Random Forest

In [28]:
from sklearn.ensemble import RandomForestClassifier

C:\Users\User\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [60]:
rf= RandomForestClassifier(n_estimators=200)
cvscore=cross_val_score(rf, train, is_promoted,cv=10,scoring='f1')

In [61]:
cvscore

array([0.48421053, 0.50372578, 0.47819549, 0.52539913, 0.47692308,
       0.52011494, 0.51497006, 0.53216374, 0.50520059, 0.49926579])

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(
        train, is_promoted, test_size=0.30, random_state=42)

In [70]:
rf1= RandomForestClassifier(n_estimators=200,criterion='entropy',max_depth=15)
rf1.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=15, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [71]:
predictions=rf1.predict(X_test)

In [72]:
from sklearn.metrics import f1_score

In [73]:
f1_score(y_test,predictions)

0.5147864184008762

In [101]:
rf3= RandomForestClassifier(n_estimators=200,criterion='entropy',max_depth=18)
rf3.fit(X_train,y_train)
predictions=rf3.predict(X_test)
f1_score(y_test,predictions)

0.5108695652173912

In [74]:
rf2= RandomForestClassifier(n_estimators=200,criterion='entropy',max_depth=15)
cvscore2=cross_val_score(rf, train, is_promoted,cv=10,scoring='f1')

In [77]:
cvscore2.mean()

0.5060794937857359

In [78]:
cvscore.mean()

0.5040169128609764

# Gradient Boosting

In [80]:
import xgboost

In [106]:
xg=xgboost.XGBClassifier(booster='gbtree',max_depth=10,n_estimators=100,objective='reg:logistic',\
                         colsample_bytree=0.7,subsample=0.8)

In [103]:
xg.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.7, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=10, min_child_weight=1, missing=None, n_estimators=200,
       n_jobs=1, nthread=None, objective='reg:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=0.8)

In [104]:
pred=xg.predict(X_test)
f1_score(y_test,pred)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.5025693730729701

In [107]:
cvscore=cross_val_score(xg, train, is_promoted,cv=10,scoring='f1')  
cvscore

C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array([0.50231125, 0.51376147, 0.47900467, 0.51963746, 0.47226624,
       0.52968037, 0.51515152, 0.54354354, 0.51242236, 0.4992343 ])

In [117]:
xg1=xgboost.XGBClassifier(booster='dart',n_estimators=200,objective='reg:logistic',\
                         colsample_bytree=0.7,subsample=0.8)

In [115]:
xg1.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='dart', colsample_bylevel=1,
       colsample_bytree=0.7, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=200,
       n_jobs=1, nthread=None, objective='reg:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=0.8)

In [116]:
pred=xg1.predict(X_test)
f1_score(y_test,pred)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.5142543859649124

In [118]:
cvscore=cross_val_score(xg1, train, is_promoted,cv=10,scoring='f1')  
cvscore

C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
C:\Users\User\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array([0.49363057, 0.51643192, 0.47665056, 0.52321981, 0.4847512 ,
       0.52923077, 0.52201258, 0.54211332, 0.50318471, 0.48973144])

# neural netwrok

In [119]:
from sklearn.neural_network import MLPClassifier

In [149]:
mlp=MLPClassifier(hidden_layer_sizes=(100,150,100),activation='logistic',learning_rate='adaptive',solver='adam')

In [150]:
mlp.fit(X_train,y_train)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100, 150, 100), learning_rate='adaptive',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [151]:
preds=mlp.predict(X_test)
f1_score(y_test,preds)

0.5080906148867314

# SVM

In [152]:
from sklearn.svm import SVC
clf = SVC()
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [153]:
pred=clf.predict(X_test)
f1_score(y_test,pred)

0.43604651162790686

In [154]:
from sklearn.svm import SVC
clf = SVC(C=0.8)
clf.fit(X_train, y_train)

SVC(C=0.8, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [155]:
pred=clf.predict(X_test)
f1_score(y_test,pred)

0.4299065420560748

# Keras

In [248]:
train.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,1,35,5.0,8,1,0,49,-1,-1,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.931194,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879
1,1,30,5.0,4,0,0,60,-1,-1,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.341857,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558
2,1,34,3.0,7,0,0,50,-1,-1,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.068806,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879
3,2,39,1.0,10,0,0,50,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.068806,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558
4,1,45,3.0,2,0,0,73,-1,-1,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.144448,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558

In [ ]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(
        trains, is_promoted, test_size=0.30, random_state=42)

In [166]:
y_train1=pd.get_dummies(y_train)
y_train1.head()

       0  1
3113   1  0
118    0  1
17005  1  0
14505  1  0
31487  1  0

In [167]:
y_train.head()

3113     0
118      1
17005    0
14505    0
31487    0
Name: is_promoted, dtype: int64

In [168]:
y_test1=pd.get_dummies(y_test)
y_test1.head()

       0  1
40907  1  0
51939  1  0
6978   1  0
12814  1  0
22921  1  0

In [186]:
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Dropout

# Generate dummy data

model = Sequential()
model.add(Dense(20, input_dim=X_train.shape[1], activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(20, activation='relu'))
model.add(Dropout(0.1))
model.add(Dense(2, activation='sigmoid'))

model.compile(loss='binary_crossentropy',
              optimizer='rmsprop',
              metrics=['accuracy'])

In [187]:
model.fit(X_train, y_train1,
          epochs=20,
          batch_size=128,validation_data=(X_test, y_test1))

Train on 38365 samples, validate on 16443 samples
Epoch 1/20
38365/38365 [==============================] - 2s 60us/step - loss: 0.6775 - acc: 0.8348 - val_loss: 0.2212 - val_acc: 0.9402
Epoch 2/20
38365/38365 [==============================] - 1s 38us/step - loss: 0.2440 - acc: 0.9337 - val_loss: 0.2067 - val_acc: 0.9443
Epoch 3/20
38365/38365 [==============================] - 2s 44us/step - loss: 0.2267 - acc: 0.9373 - val_loss: 0.1984 - val_acc: 0.9451
Epoch 4/20
38365/38365 [==============================] - 2s 46us/step - loss: 0.2168 - acc: 0.9389 - val_loss: 0.1901 - val_acc: 0.9446
Epoch 5/20
38365/38365 [==============================] - 2s 42us/step - loss: 0.2083 - acc: 0.9396 - val_loss: 0.1809 - val_acc: 0.9453
Epoch 6/20
38365/38365 [==============================] - 2s 45us/step - loss: 0.2016 - acc: 0.9397 - val_loss: 0.1735 - val_acc: 0.9451
Epoch 7/20
38365/38365 [==============================] - 2s 41us/step - loss: 0.1946 - acc: 0.9398 - val_loss: 0.1735 - val_acc: 0.9446
Epoch 8/20
38365/38365 [==============================] - 2s 40us/step - loss: 0.1877 - acc: 0.9402 - val_loss: 0.1676 - val_acc: 0.9452
Epoch 9/20
38365/38365 [==============================] - 2s 39us/step - loss: 0.1835 - acc: 0.9405 - val_loss: 0.1638 - val_acc: 0.9450
Epoch 10/20
38365/38365 [==============================] - 2s 45us/step - loss: 0.1809 - acc: 0.9405 - val_loss: 0.1658 - val_acc: 0.9444
Epoch 11/20
38365/38365 [==============================] - 2s 42us/step - loss: 0.1794 - acc: 0.9408 - val_loss: 0.1628 - val_acc: 0.9448
Epoch 12/20
38365/38365 [==============================] - 2s 43us/step - loss: 0.1774 - acc: 0.9409 - val_loss: 0.1625 - val_acc: 0.9451
Epoch 13/20
38365/38365 [==============================] - 2s 43us/step - loss: 0.1765 - acc: 0.9410 - val_loss: 0.1663 - val_acc: 0.9453
Epoch 14/20
38365/38365 [==============================] - 2s 43us/step - loss: 0.1771 - acc: 0.9407 - val_loss: 0.1627 - val_acc: 0.9446
Epoch 15/20
38365/38365 [==============================] - 2s 47us/step - loss: 0.1763 - acc: 0.9409 - val_loss: 0.1615 - val_acc: 0.9446
Epoch 16/20
38365/38365 [==============================] - 2s 62us/step - loss: 0.1752 - acc: 0.9411 - val_loss: 0.1611 - val_acc: 0.9456
Epoch 17/20
38365/38365 [==============================] - 2s 43us/step - loss: 0.1751 - acc: 0.9411 - val_loss: 0.1615 - val_acc: 0.9451
Epoch 18/20
38365/38365 [==============================] - 2s 47us/step - loss: 0.1742 - acc: 0.9408 - val_loss: 0.1649 - val_acc: 0.9439
Epoch 19/20
38365/38365 [==============================] - 1s 39us/step - loss: 0.1748 - acc: 0.9412 - val_loss: 0.1612 - val_acc: 0.9458
Epoch 20/20
38365/38365 [==============================] - 1s 39us/step - loss: 0.1741 - acc: 0.9409 - val_loss: 0.1610 - val_acc: 0.9455

In [188]:
ans=model.predict(X_test)

In [189]:
ans

array([[9.9991655e-01, 1.3117844e-04],
       [9.9999678e-01, 5.9723666e-06],
       [9.9484813e-01, 5.1539550e-03],
       ...,
       [9.6962816e-01, 2.8579032e-02],
       [8.2215774e-01, 1.7502470e-01],
       [8.3846289e-01, 1.8069690e-01]], dtype=float32)

In [190]:
ans=np.argmax(ans,axis=1)

In [191]:
ans

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [192]:
f1_score(y_test,ans)

0.5066079295154184

In [184]:
X_train.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
3113,2,26,2.0,3,0,0,77,1,1,1.256380,0.666667,0,37.0,1.925000,-2.908464,-1.144448,0.107593,0.164524,0.066000,0.007069,0.083151,0.685733,0.083952,0.547558
118,1,27,4.0,4,1,0,72,-1,-1,1.328017,0.250000,0,-8.0,0.900000,1.870545,0.728884,0.096386,0.147386,0.116596,0.029349,0.089934,0.314267,0.083952,0.547558
17005,3,34,3.0,6,1,0,56,1,1,1.306865,0.500000,0,-4.0,0.933333,-4.252275,-0.460711,0.081230,0.044130,0.116844,0.032991,0.083151,0.685733,0.083952,0.547558
14505,2,40,5.0,9,1,0,83,1,1,1.341025,0.222222,0,-17.0,0.830000,-1.584278,1.499283,0.095665,0.109683,0.106546,0.110540,0.083151,0.685733,0.083952,0.547558
31487,1,45,3.0,17,0,0,68,-1,-1,1.328017,0.058824,0,8.0,1.133333,-2.129455,-0.271116,0.096386,0.147386,0.136935,0.023350,0.083151,0.685733,0.083952,0.547558

# PCA

In [193]:
from sklearn.decomposition import PCA

In [195]:
full=pd.concat([train,test])
full.shape

(78298, 24)

In [197]:
pc=PCA()
final=pc.fit(full)

In [199]:
final.explained_variance_ratio_.cumsum()

array([0.76473952, 0.90377405, 0.97069913, 0.98896673, 0.99783831,
       0.99936032, 0.99956272, 0.99970161, 0.99981052, 0.99986626,
       0.99991537, 0.99994761, 0.99997549, 0.99998376, 0.99998955,
       0.99999325, 0.99999649, 0.99999933, 0.99999995, 0.99999999,
       1.        , 1.        , 1.        , 1.        ])

In [200]:
pc=PCA(n_components=10)
final=pc.fit(full)

In [203]:
final1=pc.transform(full)

In [204]:
final1=pd.DataFrame(final1)

In [205]:
final1.head()

,0,1,2,3,4,5,6,7,8,9
0,-50.168869,-1.495848,0.270094,0.311345,1.906136,-0.440154,0.548921,-0.272962,0.118567,0.039813
1,-36.594285,6.493919,-5.447588,-0.095193,0.208437,-0.573977,-0.473462,-0.492389,0.067443,0.014809
2,-10.171552,-10.992679,-0.755898,1.630792,1.380800,-0.542870,-0.340220,0.165272,-0.157456,0.122726
3,28.512592,-21.565828,5.205801,1.957729,2.163486,2.372188,0.156534,-0.500623,-0.340255,-0.088217
4,17.632484,3.888248,8.149421,-8.118220,-7.577495,-0.612045,-0.496517,0.209731,-0.008859,0.023701

In [206]:
final1.shape

(78298, 10)

In [207]:
train.shape

(54808, 24)

In [208]:
trains=final1.iloc[0:54808,:]
tests=final1.iloc[54808:,:]

In [210]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(
        trains, is_promoted, test_size=0.30, random_state=42)

In [211]:
rf1= RandomForestClassifier(n_estimators=200,criterion='entropy',max_depth=15)
rf1.fit(X_train1,y_train1)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=15, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [212]:
pred=rf1.predict(X_test1)
f1_score(y_test1,pred)

0.49972421400992834

# Naive Bayes

In [213]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(X_train1, y_train1)

GaussianNB(priors=None)

In [214]:
pred=clf.predict(X_test1)
f1_score(y_test1,pred)

0.47629195524773577

# KNN

In [215]:
from sklearn.neighbors import KNeighborsClassifier

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [217]:
for i in range(2,15):
    neigh = KNeighborsClassifier(n_neighbors=i)
    neigh.fit(X_train1, y_train1) 
    pred=neigh.predict(X_test1)
    print(i,"ch:",f1_score(y_test1,pred))

2 ch: 0.4498910675381264
3 ch: 0.463739516526887
4 ch: 0.4682981090100112
5 ch: 0.47783783783783784
6 ch: 0.46825396825396826
7 ch: 0.47650635710337197
8 ch: 0.47198641765704585
9 ch: 0.476510067114094
10 ch: 0.46985210466439137
11 ch: 0.47178329571106103
12 ch: 0.46567505720823804
13 ch: 0.47018739352640543
14 ch: 0.4595060310166571

In [243]:
pc=PCA()
pc.fit(full)
fo1=pc.transform(full)
fo1=pd.DataFrame(fo1)
trains=fo1.iloc[0:54808,:]
tests=fo1.iloc[54808:,:]
X_train1, X_test1, y_train1, y_test1 = train_test_split(
        trains, is_promoted, test_size=0.30, random_state=42)

In [220]:
for i in range(2,15):
    neigh = KNeighborsClassifier(n_neighbors=i)
    neigh.fit(X_train1, y_train1) 
    pred=neigh.predict(X_test1)
    print(i,"ch:",f1_score(y_test1,pred))

2 ch: 0.4472389283761618
3 ch: 0.4606181455633101
4 ch: 0.4669260700389105
5 ch: 0.4789644012944984
6 ch: 0.46651532349602726
7 ch: 0.47888888888888886
8 ch: 0.46965399886557
9 ch: 0.4790619765494137
10 ch: 0.46810933940774485
11 ch: 0.47495779403489025
12 ch: 0.46716162193032557
13 ch: 0.4713231118682567
14 ch: 0.46153846153846145

In [221]:
clf = GaussianNB()
clf.fit(X_train1, y_train1)

GaussianNB(priors=None)

In [222]:
pred=clf.predict(X_test1)
f1_score(y_test1,pred)

0.43792766373411535

In [223]:
trains.shape

(54808, 24)

In [224]:
pc=PCA(n_components=5)
pc.fit(full)
fo1=pc.transform(full)
fo1=pd.DataFrame(fo1)
trains=fo1.iloc[0:54808,:]
tests=fo1.iloc[54808:,:]
X_train1, X_test1, y_train1, y_test1 = train_test_split(
        trains, is_promoted, test_size=0.30, random_state=42)

In [225]:
clf = GaussianNB()
clf.fit(X_train1, y_train1)

GaussianNB(priors=None)

In [226]:
pred=clf.predict(X_test1)
f1_score(y_test1,pred)

0.47947454844006576

In [227]:
for i in range(2,15):
    neigh = KNeighborsClassifier(n_neighbors=i)
    neigh.fit(X_train1, y_train1) 
    pred=neigh.predict(X_test1)
    print(i,"ch:",f1_score(y_test1,pred))

2 ch: 0.44612068965517243
3 ch: 0.45790251107828656
4 ch: 0.45663122551762736
5 ch: 0.46742057081313954
6 ch: 0.4660633484162896
7 ch: 0.4764542936288089
8 ch: 0.46678023850085176
9 ch: 0.47442383361439006
10 ch: 0.46716162193032557
11 ch: 0.47392290249433106
12 ch: 0.46716162193032557
13 ch: 0.4715909090909091
14 ch: 0.45986238532110096

In [228]:
train.head()

,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_gt_avg_training,is_dept_gt_avg_training,dept_avg_training,training_service_ratio,KPImet_and_Awardwon,score_minus_rating,score/rating,training_score minus dept avg score,rating minus dept avg rating,prob_intra_dept,prob_inter_dept,prob_intra_region,prob_inter_region,prob_intra_gender,prob_inter_gender,prob_intra_recruits,prob_inter_recruits
0,1,35,5.0,8,1,0,49,-1,-1,1.274643,0.125000,0,-51.0,0.490000,-1.208487,1.931194,0.072031,0.259854,0.106546,0.110540,0.089934,0.314267,0.085013,0.422879
1,1,30,5.0,4,0,0,60,-1,-1,1.164908,0.250000,0,-40.0,0.600000,-0.248572,1.341857,0.090148,0.219152,0.114188,0.157241,0.083151,0.685733,0.083952,0.547558
2,1,34,3.0,7,0,0,50,-1,-1,1.274643,0.142857,0,-10.0,0.833333,-0.208487,-0.068806,0.072031,0.259854,0.060641,0.011354,0.083151,0.685733,0.085013,0.422879
3,2,39,1.0,10,0,0,50,1,1,1.274643,0.200000,0,30.0,2.500000,-0.208487,-2.068806,0.072031,0.259854,0.116596,0.029349,0.083151,0.685733,0.083952,0.547558
4,1,45,3.0,2,0,0,73,-1,-1,1.256380,0.500000,0,13.0,1.216667,-6.908464,-0.144448,0.107593,0.164524,0.063274,0.030634,0.083151,0.685733,0.083952,0.547558

In [244]:
rf1= RandomForestClassifier(n_estimators=200,criterion='entropy',max_depth=15)
rf1.fit(X_train1,y_train1)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=15, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [245]:
X_test1.shape

(16443, 24)

In [246]:
X_train1.shape

(38365, 24)

In [247]:
pred=clf.predict(X_test1)
f1_score(y_test1,pred)

ValueError: operands could not be broadcast together with shapes (16443,24) (5,)

In [ ]:
rf1.feature_importances_